{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <h1>Liste des films: {{query}}</h1>

        
        <div class="row">
            {% for movie in movies %}
                <div class="col">
                    <span class="badge badge-primary badge-pill">{{ movie.Year }}</span>
                    <b>{{ movie.Title}}</b>

                    <img 
                        src="{{ movie.Poster }}" 
                        title="{{ movie.Title|escape( 'html_attr' ) }}"
                        class="rounded img-thumbnail"
                    />
                </div>

                {# Breaking the line #}
                {% if loop.index == 8 %}
                    <div class="w-100"></div>
                {% endif %}
            {% endfor %}
            </div>
    </div>
</div>

{% endblock %}
