{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <h1>Liste des films: {{query}}</h1>
    </div>

    <div class="row">
        <h2>Formulaire de recherche</h2>
        <br/>
        <form action="{{ url('Film avec paramètre et avec formulaire en POST') }}" method="post">
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="mdi mdi-video-vintage"></i> &nbsp;Nom du film</span>
                        </div>
                        <input type="text" class="form-control" name="query" placeholder="Saisir nom du film à rechercher" autofocus>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" type="submit"><i class="mdi mdi-target"></i> Récupérer informations</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        {% for movie in movies %}
            <div class="col">
                <span class="badge badge-primary badge-pill">{{ movie.Year }}</span>
                <b>{{ movie.Title}}</b>

                <img 
                    src="{{ movie.Poster }}" 
                    title="{{ movie.Title|escape( 'html_attr' ) }}"
                    class="rounded img-thumbnail"
                />
            </div>

            {# Breaking the line #}
            {% if loop.index == 8 %}
                <div class="w-100"></div>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
